<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Paypal\Model\Express" type="Icecube\PaypalOverride\Model\Express" />
    <preference for="Magento\Paypal\Block\Express\Form" type="Icecube\PaypalOverride\Block\Paypal\Express\Form" />
</config>
